<div class="reviews">
    <div class="reviews__header">
        <h1>Отзывы</h1>
        <button>Оставить отзыв</button>
    </div>
    <div class="reviews__container">
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
        <%- include('components/UI/commentBlock') %>
    </div>
    <div class="reviews__pagination">
        <img class="reviews__left-arrow" alt="arrow" src="../../assets/images/svg/arrow.svg">
        <div class="reviews__pagination-pages">
            <div class="reviews__pagination-page">1</div>
            <div class="reviews__pagination-page">2</div>
            <div class="reviews__pagination-page">3</div>
            <div class="reviews__pagination-page">4</div>
            <div class="reviews__pagination-page">5</div>
            <div class="reviews__pagination-page">6</div>
            <div class="reviews__pagination-page">7</div>
            <div class="reviews__pagination-page">8</div>
            <div class="reviews__pagination-page">9</div>
            <div class="reviews__pagination-page">10</div>

        </div>
        <img class="reviews__right-arrow" alt="arrow" src="../../assets/images/svg/arrow.svg">
    </div>
</div>
