<div class="news">
    <div><h1 class="news__title">Новости</h1></div>
    <ul class="news__list">
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
        <li class="news__item"><%- include('components/UI/newsCard') %></li>
    </ul>
    <button class="news__button">Смотреть все новости</button>
</div>
