
<main>
        <article id="article1">
            <%- include('components/mainPageComponents/introBlock') %>
        </article>
        <article id="article2">
            <%- include('components/mainPageComponents/photosBlock') %>
        </article>
        <article id="article3">
            <%- include('components/mainPageComponents/camp') %>
        </article>
        <article id="article4">
            <%- include('components/mainPageComponents/news') %>
        </article>
        <article id="article5">
            <%- include('components/mainPageComponents/comments') %>
        </article>
        <article id="article6">
            <%- include('components/mainPageComponents/form') %>
        </article>
    </main>
<!--<script src="header.js"></script>-->
